name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  test:
    runs-on: ubuntu-latest
    name: Unit tests

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --immutable --immutable-cache --check-cache

      - name: Build TypeScript
        run: yarn build

      - name: Run tests
        run: yarn test

  integration-test:
    runs-on: ubuntu-latest
    name: Integration test

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          cache: "yarn"

      - name: Install dependencies
        run: yarn install --immutable --immutable-cache --check-cache

      - name: Build TypeScript
        run: yarn build

      - name: Run Allure Action
        uses: ./
        with:
          working-directory: "."
          github-token: ${{ secrets.GITHUB_TOKEN }}
